body {
  font-family: 'Helvetica', sans-serif, bold;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
  margin: auto;
  width: 50%;
  padding: 10px;
  
}


h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 28px;
  color: #0072e3;
}

.widget, .connect-status {
  flex: 1; /* Bağlantı bilgilerini ve metinleri yatayda eşit bir şekilde dağıt */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; /* Dikeyde ortala */
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  max-width: 95%;
}

button, .button {
  background-color: #0072e3;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 10px 0;
  
  text-align: center
}

button:hover {
  background-color: #005bbf;
  flex:1
}

.reset-button {
  background-color: #DC143C;
}

input[type="range"] {
  width: 100%;
  height: 20px; /* Yüksekliği düşürüldü */
  margin-top: 10px; /* Boşluk eklendi */
  flex: 1
}

.message {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

.volume-control {
  display: flex;
  align-items: center; /* Dikeyde ortala */
}

.volume-label {
  flex: 1; /* Metin kutusu ve slider'ı yatayda eşit bir şekilde dağıt */
}

.slider {
  flex: 2; /* Metin kutusu ve slider'ı yatayda eşit bir şekilde dağıt */
  width: 100%;
}


.connection-info {
  flex: 1;
}

.stream-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.connect-input,
.connect-button {
  margin: 10px 0;
  text-align: center;
}

.upload-site {
  padding: 10px 20px 10px;
}

.button-group button {
  padding: 30, 30, 30;
  margin-left: 10px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.mute-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#muteIcon::before {
  content: '\1F507'; /* Unicode character for speaker */
}

.muted #muteIcon::before {
  content: '\1F50A'; /* Unicode character for muted speaker */
}