<html>
  <head>
    <title>ErrorDrive!</title>
    <link rel="stylesheet" href="/common/error.css">
  </head>
  
  <body>
    <div id="app">
       <div><%= title %></div>
       <div class="txt">
          <%= detail %><span class="blink">_</span>
       </div>
    </div>
  </body>
</html>