<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link id="favicon" rel="icon" href="https://cdn.glitch.global/09cea16e-eb78-4d1a-81a4-6b24ad8afe1c/favicon.ico?v=1698655501304" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="uploadv2.js"></script>
  <script src="/common/color-mode.js"></script>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="uploadv2.css">

  <script src="https://kit.fontawesome.com/6135f8c6a5.js" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
  <title>UygiDrive - Upload</title>

  <!-- Custom Styles -->
  
</head>
<body>
  <header class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="site-name">UygiDrive</div>
        </div>
        <div class="col-md-6 text-right user-info">
          <%= email %>
          <button id="logout-btn" onclick="logout()" class="btn btn-secondary ml-3">Logout</button>
        </div>
      </div>
    </div>
  </header>
    
  <div class="container mt-5">
    <button type="button" class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#uploadModal">
      <i class="fas fa-upload mr-2"></i> Upload New File
    </button>
  </div>
  
  <!-- Upload Modal -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetUpload()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="uploadContainer">
          <!-- Your existing upload form content -->
          <form name="uploadForm" id="uploadForm" class="upload-form">
            <input type="file" multiple name="file" id="fileInput" class="file-input">
            <label for="fileInput" class="custom-file-input btn btn-primary">Choose a file</label>
            <!--<span id="selectedFileName" class="file-name">No file selected</span>-->
            <input type="submit" value="Upload" id="uploadButton" class="upload-button">
          </form>
          
          <div id="successBox" class="result-box alert alert-success" style="display: none">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <i class="fas fa-check-circle mr-2"></i>
                <p class="success-text">File(s) uploaded successfully!</p>
                <p class="url-text" id="urlList">URLs: <!--<a id="fileURL" href="#" target="_blank" style="color: CornflowerBlue"></a>--></p>
              </div>
              <!--<button id="reloadButton" class="reload-button btn btn-primary" onclick="location.reload()">Upload another one</button>-->
            </div>
          </div>

          <!-- Error Box in Upload Modal -->
          <div id="errorBox" class="result-box alert alert-danger" style="display: none">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <i class="fas fa-exclamation-circle mr-2"></i>
                <p class="error-text">Unable to upload file</p>
                <i id="errorDesc">An error occurred while uploading the file:</i>
                <p id="errorMessage" style="color:red"></p>
              </div>
              <button class="reload-button btn btn-danger" onclick="location.reload()">Try again</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- Preview Modal -->
    
  <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="previewModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="previewContainer">
          <embed style="display: none" class="preview" width="100%" heigth="100%" id="filePreview" >
          <video style="display: none" height="100%" width="100%" class="preview" controls id="videoPreview"></video>
          <audio style="display: none" class="preview" controls id="audioPreview"></audio>
        </div>
      </div>
    </div>
  </div>
    
  <!-- Share Modal -->
    
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Share File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="shareContainer">
          <h6>Everyone has this link can access the file. Link expires in 14 days.</h6>
          <label for="urlInput">URL:</label>
          <input widght="90%" class="url-input" type="text" id="urlInput" readonly>

          <button class="btn btn-success" type="button" id="copyShareLink">Copy Link</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="widget container mt-4">
    <div class="search-sort-bar">
      <form id="search" class="button-group">
        
        <input type="text" id="searchBox" placeholder="Search..." class="form-control">
      </form>
    
      <div class="dropdown sorting-menu">
        
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="sortDropdown">
          <a class="dropdown-item" href="#" onclick="changeSort('alphabetical')">Alphabetical</a>
          <a class="dropdown-item" href="#" onclick="changeSort('date:new-first')">Newest First</a>
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="file-grid" id="fileList">
      <!-- Dummy Files 
      <div class="file-card">
        <div class="file-actions">
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <h5>File 1</h5>
        <p>Size: 2 MB</p>
        <p>Uploaded: 2022-01-15</p>
      </div>
      <div class="file-card">
        <div class="file-actions">
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <h5>File 2</h5>
        <p>Size: 1.5 MB</p>
        <p>Uploaded: 2022-01-14</p>
      </div>
      <div class="file-card">
        <div class="file-actions">
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <h5>File 3</h5>
        <p>Size: 3.2 MB</p>
        <p>Uploaded: 2022-01-13</p>
      </div>
       -->
    </div>
    
    <div id="page" class="button-group mt-3">
      <button id="previousPage" class="btn btn-secondary">Previous</button>
      <b id="pageNumber" class="mx-2">1</b>
      <button id="nextPage" class="btn btn-secondary">Next</button>
    </div>
  </div>
  
  <div class="theme-toggle" id="theme-toggle">
    <span class="theme-icon" id="theme-icon">
      <i class="fas fa-moon"></i>
    </span>
  </div>
  
  <audio id="audio" src autoplay></audio>
  <iframe id="download_iframe" style="display:none;"></iframe>

  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function(){
      $("#uploadButton").click(function(){
        $("#uploadModal").modal();
      });
    });
  </script>

</body>
</html>
