body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #0072e3;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.custom-file-input {
  background-color: #0072e3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.custom-file-input:hover {
  background-color: #005bbf;
}

.file-input {
  display: none;
}

.upload-button {
  background-color: #2a9d8f;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #005bbf;
}

.file-name {
  margin: 10px 0;
  font-weight: bold;
}

.progress-container {
  display: none;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
}

.file-progress {
  width: 100%;
  height: 20px;
  background-color: #0072e3;
  border-radius: 5px;
  border: none;
}

.progress-text {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.result-box {
  display: none;
  margin: 20px 0;
}

.success-text,
.error-text {
  font-weight: bold;
  font-size: 18px;
}

.url-text {
  font-size: 16px;
  margin-top: 10px;
}

.copy-button {
  background-color: #0072e3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #005bbf;
}

.reload-button {
  background-color: #d90429;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.music-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.copy-link-button {
  background-color: #0072e3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
}

.copy-link-button:hover {
  background-color: #005bbf;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}
