<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link id="favicon" rel="icon" href="https://cdn.glitch.global/09cea16e-eb78-4d1a-81a4-6b24ad8afe1c/favicon.ico?v=1698655501304" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="upload.js"></script>
  <script src="/common/color-mode.js"></script>
  
  <link rel="stylesheet" href="upload.css">
  <link rel="stylesheet" href="/common/style-dark.css">
  <script src="https://kit.fontawesome.com/6135f8c6a5.js" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
  <title>UygiDrive - Upload</title>
</head>
<body>
  <header>
    <div class="site-name">UygiDrive</div>
    <div class="user-info">
      <div class="user-email"><%= email %></div>
      <button id="logout-btn" onclick="logout()">Logout</button>
    </div>
  </header>
    
  <div id="previewPopup" class="popup">
    <div class="popup-content">
      <span class="close">&times;</span>
      
      <h3 id="popupMessage"></h3>
      <embed id="filePreview" name="preview" class="file-preview" src>
      <audio style="display: none" class="audio-preview" controls id="audioPreview" name="preview" src> </audio>
      <img class="img-preview" id="imagePreview" name="preview">
      <video style="display: none" class="video-preview" controls id="videoPreview" name="preview" src> </video>
      <pre><code class="code" controls id="codePreview" name="preview" src></code></pre>
    </div>
  </div>
    
  <div id="sharePopup" class="share-popup">
    <div class="popup-content">
        <span id="sharePopupClose" class="close">&times;</span>
        <h3 id="shareMessage">Share This Link</h3>

          <label for="urlInput">URL:</label>
          <input class="url-input" type="text" id="urlInput" readonly>

          <button class="copy-share-link-button" type="button" id="copyShareLink">Copy Link</button>
    </div>
</div>
  
  <div class="widget container" id="uploadContainer">
    <h1>Upload File</h1>
    <hr>
    
    <form name="uploadForm" id="uploadForm" class="upload-form">
      <input type="file" multiple name="file" id="fileInput" class="file-input" style="display: none">
      <label for="fileInput" class="custom-file-input">Choose a file</label>
      <span id="selectedFileName" class="file-name">No file selected</span>
      <input type="submit" value="Upload" id="uploadButton" class="upload-button" style="display: none">
    </form>
    
    <div class="progress-container" id="progressContainer">
      <progress id="progressBar" class="file-progress" value="0" max="100"></progress>
      <span id="progressText" class="progress-text">0%</span>
    </div>
    
    <div id="successBox" class="result-box">
      <p class="success-text">File uploaded successfully!</p>
      <p class="url-text">URL: <a id="fileURL" href="#" target="_blank" style="color: CornflowerBlue"></a></p>
      <br>
      <button id="reloadButton" class="reload-button" onclick="location.reload()">Upload another one</button>
    </div>
    
    <div id="errorBox" class="result-box" style>
      <p class="error-text">Unable to upload file</p>
      <i id="errorDesc">A error occured while uploading the file:</i>
      <p id="errorMessage" style="color:red"></p>
      
      <button class="reload-button" onclick="location.reload()">Try again</button>
    </div>
  </div>
  
  <div class="widget container">
    <h1>Uploaded Files</h1>
    
    <form id="search" class="button-group">
      <input type="text" id="searchBox" placeholder="Search...">
    </form>
    
    <br>
    
    <div class="sorting-menu">
      <label for="sortSelect">Sort by:</label>
      <select id="sortSelect">
        <option value="">Alphabetical</option>
        <option value="date:new-first">Newest First</option>
      </select>
    </div>
    
    <hr>
    
    <div id="fileList" class="file-list">
      
    </div>
    
    <div id="page" class="button-group">
      <button id="previousPage">Previous</button>
      <b id="pageNumber">1</b>
      <button id="nextPage">Next</button>
    </div>
  </div>
  
  <div class="theme-toggle" id="theme-toggle">
    <span class="theme-icon" id="theme-icon">
      <i class="fas fa-moon"></i>
    </span>
  </div>
  
  <audio id="audio" src autoplay></audio>
  <iframe id="download_iframe" style="display:none;"></iframe>

</body>
</html>