body {
      background-color: #2d2e2d;
      font-family: 'Courier New', monospace;
    }
    .endpoint-title {
      font-size: 20px;
      font-weight: bold;
    }
    .endpoint-description {
      font-size: 16px;
      color: blue;
    }
    .request-body {
      color: #ff00ff;
    }
    .response {
      color: green;
    }
    .text {
      color: #cfcfcf;
    }
